<style>
  
    h1 {
        color: blue;
    }

    hr {
        background-color: #ddd;
    }

</style>

<h1>Configuración</h1>
<p>Puerto de escucha: {{environment.port}}</p>
<p>URL de la base de datos: {{environment.mongodbCredentialSession}}</p>
<p>Email de notificaciones: {{environment.emailAdmin}}</p>
<p>Tiempo de expiración de sesión: {{environment.userSessionTime}}</p>

    
